@import "var.scss";

@media screen and (max-width: 768px) {
  .skillSet .tile {
    margin-bottom: 20px;
    background-color: $addColor;
    border-radius: 16px;
  }
  .tile div {
    padding: 6px;
  }

}
@media screen and (min-width: 1200px) {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border: none;
    transition: 1s;
    padding: 2px 0 !important;
  }
  .square {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: $addColor;
    position: relative;
    border-radius: 16px;
  }
  .square i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -43%);
    font-size: 90px;
    color: white;
  }
  .about {
    position: relative;
    text-align: center;
  }
  img {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
  }
  .profil {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profilAbout {
    width: 300px;
  }
  .skillSet div {
    margin: 10px;
    color: white;
    background-color: $addColor;
    border-radius: 16px;
  }

  .tile div {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, -70%);
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

/* Medium devices (desktops, 992px and up) */

/* Large devices (large desktops, 1200px and up) */