#navbar {
  width: 100vw;
  background-color: #414141;
  border-bottom: 2px solid #118e92;
  background-color: #333;
  font-size: 18px;
  padding: 16px 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 400px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-transform: uppercase;
  display: block;
  color: white;
  text-align: center;
  padding-left: 25px;
  text-decoration: none;
  transform: 1s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  transition: 0.6s;
  color: #e31b6d;
}

.content {
  color: black;
}

h2 {
  text-transform: uppercase;
  font-size: 27pt;
  font-family: "raleway-bold";
}

h2:first-child::after {
  position: relative;
  top: 1px;
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 4px solid #4b4a4a;
  content: "About";
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border: none;
  transition: 1s;
  padding: 2px 0 !important;
}

.square {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: #118e92;
  position: relative;
  border-radius: 16px;
}

.square i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -43%);
  font-size: 90px;
  color: white;
}

.about {
  position: relative;
}

img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.profil {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profilAbout {
  width: 300px;
}

.skillSet div {
  margin: 10px;
  color: white;
  background-color: #118e92;
  border-radius: 16px;
}

.tile div {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0%, -70%);
}

.portfolio {
  height: 300px;
  background-color: red;
  margin: 20px;
}

.footer {
  width: 100%;
  height: 100vh;
  background-color: red;
  color: white;
  text-align: center;
  background-color: black;
}

.about {
  width: 60%;
  margin-left: 20%;
}

.wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper2 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.skillSet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.footer {
  background-color: #414141;
  position: relative;
}

label {
  color: #e31b6d;
  font-size: 22px;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #e31b6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  margin-top: 10vh;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footerDown {
  background-color: #1b242f;
  height: 200px;
  width: 100vw;
  position: absolute;
  bottom: 0%;
  color: #e31b6d;
}

#navbar {
  width: 100vw;
  background-color: #414141;
  border-bottom: 2px solid #118e92;
  background-color: #333;
  font-size: 18px;
  padding: 16px 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 400px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  text-transform: uppercase;
  display: block;
  color: white;
  text-align: center;
  padding-left: 25px;
  text-decoration: none;
  transform: 1s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  transition: 0.6s;
  color: #e31b6d;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border: none;
  transition: 1s;
  padding: 2px 0 !important;
}

.square {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: #118e92;
  position: relative;
  border-radius: 16px;
}

.square i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -43%);
  font-size: 90px;
  color: white;
}

.about {
  position: relative;
  text-align: center;
}

img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.profil {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profilAbout {
  width: 300px;
}

.skillSet div {
  margin: 10px;
  color: white;
  background-color: #118e92;
  border-radius: 16px;
}

.tile div {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0%, -70%);
}

html,
body {
  font-family: "Vesper Libre", serif;
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.star1 {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%);
}

.name {
  color: #e31b6d;
}

.flex {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}

.text {
  font-size: 32pt;
  line-height: 36pt;
}

.button {
  position: absolute;
  left: 50%;
  width: 150px;
  transform: translateX(-50%);
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 15pt;
  padding: 10px 20px;
  transition: all 0.5s;
}

.button:hover {
  background-color: #118e92;
  border-color: #118e92;
}

.button i {
  position: absolute;
  right: 19px;
}

.button:hover i {
  position: absolute;
  transition: transform 0.5s;
  transform: rotate(90deg);
}

.star {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1000px 57px #fff, 264px 251px #fff, 1051px 134px #fff, 1205px 814px #fff, 1904px 404px #fff, 562px 257px #fff, 769px 809px #fff, 387px 555px #fff, 359px 396px #fff, 374px 128px #fff, 1452px 838px #fff, 1890px 103px #fff, 1387px 405px #fff, 1573px 324px #fff, 1215px 695px #fff, 1024px 12px #fff, 622px 843px #fff, 590px 571px #fff, 600px 584px #fff, 622px 481px #fff, 1535px 437px #fff, 146px 270px #fff, 995px 581px #fff, 1313px 975px #fff, 830px 212px #fff, 358px 948px #fff, 1408px 836px #fff, 1634px 373px #fff, 192px 653px #fff, 905px 184px #fff, 1179px 466px #fff, 265px 952px #fff, 681px 300px #fff, 16px 788px #fff, 1098px 111px #fff, 146px 854px #fff, 2px 91px #fff, 241px 787px #fff, 248px 557px #fff, 1551px 4px #fff, 804px 840px #fff, 1252px 49px #fff, 486px 548px #fff, 1199px 183px #fff, 868px 559px #fff, 651px 431px #fff, 1624px 942px #fff, 1092px 997px #fff, 1785px 937px #fff, 30px 122px #fff, 429px 398px #fff, 36px 801px #fff, 1517px 557px #fff, 1556px 755px #fff, 1630px 80px #fff, 1542px 444px #fff, 277px 573px #fff, 563px 536px #fff, 1576px 859px #fff, 190px 80px #fff, 601px 925px #fff, 715px 476px #fff, 1910px 137px #fff, 1857px 978px #fff, 1381px 764px #fff, 214px 343px #fff, 1245px 54px #fff, 1722px 472px #fff, 577px 431px #fff, 1661px 777px #fff, 1512px 921px #fff, 1415px 756px #fff, 939px 583px #fff, 870px 542px #fff, 1767px 957px #fff, 128px 286px #fff, 489px 996px #fff, 586px 475px #fff, 950px 149px #fff, 1891px 432px #fff, 1106px 152px #fff, 758px 742px #fff, 1045px 302px #fff, 213px 805px #fff, 1277px 571px #fff, 994px 593px #fff, 1073px 973px #fff, 1364px 720px #fff, 623px 518px #fff, 1030px 811px #fff, 1869px 17px #fff, 1594px 287px #fff, 865px 460px #fff, 1744px 604px #fff, 678px 211px #fff, 379px 816px #fff, 1479px 835px #fff, 596px 174px #fff, 1365px 421px #fff, 889px 172px #fff, 848px 5px #fff, 337px 230px #fff, 460px 236px #fff, 713px 553px #fff, 1158px 538px #fff, 891px 524px #fff, 1237px 338px #fff, 967px 344px #fff, 1389px 335px #fff, 783px 960px #fff, 668px 483px #fff, 929px 712px #fff, 1847px 947px #fff, 1139px 716px #fff, 272px 131px #fff, 1130px 728px #fff, 722px 30px #fff, 882px 612px #fff, 807px 839px #fff, 1547px 989px #fff, 1286px 636px #fff, 471px 504px #fff, 506px 181px #fff, 1238px 732px #fff, 239px 31px #fff, 1665px 895px #fff, 967px 449px #fff, 1092px 786px #fff, 1030px 325px #fff, 1842px 822px #fff, 419px 701px #fff, 1237px 236px #fff, 1035px 166px #fff, 1038px 738px #fff, 535px 11px #fff, 1321px 788px #fff, 1761px 406px #fff, 759px 943px #fff, 1355px 589px #fff, 1203px 656px #fff, 984px 183px #fff, 72px 396px #fff, 1630px 273px #fff, 19px 834px #fff, 1910px 828px #fff, 1252px 803px #fff, 1778px 769px #fff, 524px 463px #fff, 1260px 606px #fff, 1441px 893px #fff, 461px 141px #fff, 232px 970px #fff, 1489px 553px #fff, 389px 326px #fff, 643px 614px #fff, 1630px 28px #fff, 788px 109px #fff, 1485px 975px #fff, 294px 929px #fff, 1559px 466px #fff, 201px 295px #fff, 884px 293px #fff, 1166px 590px #fff, 1871px 399px #fff, 831px 863px #fff, 217px 945px #fff, 1086px 167px #fff, 1335px 48px #fff, 1894px 3px #fff, 1871px 861px #fff, 908px 564px #fff, 900px 367px #fff, 225px 165px #fff, 1424px 980px #fff, 1675px 979px #fff, 541px 470px #fff, 695px 322px #fff, 933px 253px #fff, 491px 991px #fff, 479px 508px #fff, 1917px 719px #fff, 1688px 304px #fff, 847px 525px #fff, 1626px 436px #fff, 910px 982px #fff, 739px 134px #fff, 1623px 459px #fff, 1291px 971px #fff, 802px 168px #fff, 1088px 655px #fff, 1696px 316px #fff, 372px 846px #fff, 145px 566px #fff, 1515px 168px #fff, 915px 839px #fff, 1238px 576px #fff, 1855px 80px #fff, 576px 878px #fff, 1611px 7px #fff, 1150px 849px #fff, 116px 761px #fff, 1277px 116px #fff, 166px 503px #fff, 1291px 750px #fff, 814px 521px #fff, 13px 949px #fff, 362px 707px #fff, 947px 358px #fff, 1348px 180px #fff, 7px 919px #fff, 506px 749px #fff, 430px 622px #fff, 1244px 555px #fff, 246px 354px #fff, 95px 331px #fff, 1709px 572px #fff, 1095px 744px #fff, 413px 74px #fff, 330px 856px #fff, 1595px 817px #fff, 1199px 938px #fff, 1110px 723px #fff, 1405px 621px #fff, 715px 481px #fff, 1395px 499px #fff, 1520px 611px #fff, 784px 527px #fff, 1626px 490px #fff, 774px 283px #fff, 1780px 973px #fff, 557px 283px #fff, 1433px 702px #fff, 1636px 698px #fff, 1609px 795px #fff, 577px 379px #fff, 97px 263px #fff, 1688px 566px #fff, 355px 69px #fff, 382px 202px #fff, 1469px 185px #fff, 1614px 247px #fff, 905px 438px #fff, 1640px 695px #fff, 517px 694px #fff, 778px 50px #fff, 1538px 513px #fff, 291px 975px #fff, 761px 979px #fff, 881px 525px #fff, 1920px 371px #fff, 1625px 797px #fff, 1001px 102px #fff, 1093px 963px #fff, 789px 129px #fff, 1507px 931px #fff, 509px 975px #fff, 758px 259px #fff, 332px 321px #fff, 490px 173px #fff, 1739px 156px #fff, 1566px 452px #fff, 720px 795px #fff, 1466px 442px #fff, 118px 191px #fff, 536px 185px #fff, 579px 575px #fff, 1634px 314px #fff, 1105px 615px #fff, 1532px 138px #fff, 1805px 173px #fff, 278px 107px #fff, 1271px 599px #fff, 422px 964px #fff, 1670px 421px #fff, 1685px 516px #fff, 1591px 945px #fff, 1737px 255px #fff, 847px 746px #fff, 758px 736px #fff, 747px 937px #fff, 330px 77px #fff, 1158px 236px #fff, 829px 709px #fff, 378px 890px #fff, 594px 201px #fff, 927px 926px #fff, 1863px 475px #fff, 21px 840px #fff, 949px 788px #fff, 1078px 601px #fff, 194px 302px #fff, 1221px 927px #fff, 1485px 353px #fff, 1117px 637px #fff, 81px 692px #fff, 196px 722px #fff, 708px 215px #fff, 1801px 757px #fff, 592px 41px #fff, 1891px 574px #fff;
}

.meteor-1 {
  position: absolute;
  top: 82px;
  left: 36%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 8s linear infinite;
}
.meteor-1:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 77px;
  left: 32%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 22s linear infinite;
}
.meteor-2:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 203px;
  left: 54%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9s linear infinite;
}
.meteor-3:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 225px;
  left: 34%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 31s linear infinite;
}
.meteor-4:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 265px;
  left: 23%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 14s linear infinite;
}
.meteor-5:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 178px;
  left: 52%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 19s linear infinite;
}
.meteor-6:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 73px;
  left: 16%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6s linear infinite;
}
.meteor-7:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 267px;
  left: 67%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 26s linear infinite;
}
.meteor-8:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 182px;
  left: 21%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 6s linear infinite;
}
.meteor-9:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 152px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 22s linear infinite;
}
.meteor-10:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 98px;
  left: 14%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 19s linear infinite;
}
.meteor-11:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 143px;
  left: 10%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 26s linear infinite;
}
.meteor-12:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 185px;
  left: 85%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 11s linear infinite;
}
.meteor-13:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 172px;
  left: 58%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4s linear infinite;
}
.meteor-14:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 77px;
  left: 80%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 25s linear infinite;
}
.meteor-15:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 141px;
  left: 34%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 25s linear infinite;
}
.meteor-16:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 242px;
  left: 33%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 19s linear infinite;
}
.meteor-17:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 208px;
  left: 71%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 20s linear infinite;
}
.meteor-18:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 95px;
  left: 51%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 11s linear infinite;
}
.meteor-19:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 250px;
  left: 20%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 27s linear infinite;
}
.meteor-20:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 155px;
  left: 88%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 26s linear infinite;
}
.meteor-21:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 120px;
  left: 37%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 14s linear infinite;
}
.meteor-22:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  75% {
    opacity: 0;
  }
  80% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=main.css.map */
